<div class="tiles">
  <div class="tile double-down color6-bg">
    <div class="tile-body">
      <i class="fa fa-bell-o"></i>
    </div>
    <div class="tile-object">
      <div class="name">
        系统通知
      </div>
      <div class="number">
        3
      </div>
    </div>
  </div>
  <div class="tile color13-bg">
    <div class="tile-body">
      <i class="fa fa-car"></i>
    </div>
    <div class="tile-object">
      <div class="name">
        车主业务
      </div>
      <div class="number">
        12
      </div>
    </div>
  </div>
  <div class="tile double selected color7-bg">
    <div class="corner">
    </div>
    <div class="check">
    </div>
    <div class="tile-body">
      <i class="fa fa-institution"></i>
    </div>
    <div class="tile-object">
      <div class="name">
         企业业务
      </div>
      <div class="number">
         16
      </div>
    </div>
  </div>
  <div class="tile color9-bg">
    <div class="tile-body">
      <i class="fa fa-jpy"></i>
    </div>
    <div class="tile-object">
      <div class="name">
        资费计划
      </div>
      <div class="number">
         452
      </div>
    </div>
  </div>
  <div class="tile double color8-bg">
    <div class="tile-body">
      <i class="fa fa-credit-card"></i>
    </div>
    <div class="tile-object">
      <div class="name">
        卡资源管理
      </div>
      <div class="number">
         6
      </div>
    </div>
  </div>
  <div class="tile color11-bg">
    <div class="tile-body">
      <i class="fa fa-shopping-cart"></i>
    </div>
    <div class="tile-object">
      <div class="name">
        订单
      </div>
      <div class="number">
         121
      </div>
    </div>
  </div>
  <div class="tile color7-bg">
    <div class="tile-body">
      <i class="fa fa-phone"></i>
    </div>
    <div class="tile-object">
      <div class="name">
         通信计划
      </div>
      <div class="number">
         12
      </div>
    </div>
  </div>
  <div class="tile color9-bg">
    <div class="tile-body">
      <i class="fa fa-cogs"></i>
    </div>
    <div class="tile-object">
      <div class="name">
        系统管理
      </div>
    </div>
  </div>
  <div class="tile double color2-bg">
    <div class="tile-body">
      <img src="../../img/photo1.jpg" alt="" class="pull-right">
      <h3>@xiaochu_wang</h3>
      <p>
        努力工作，快乐生活!
      </p>
    </div>
    <div class="tile-object">
      <div class="name">
        我的信息
      </div>
      <div class="number">
         10:45PM, 23 Jan
      </div>
    </div>
  </div>
  <div class="tile color13-bg">
    <div class="tile-body">
      <i class="fa fa-search"></i>
    </div>
    <div class="tile-object">
      <div class="name">
        资料查询
      </div>
      <div class="number">
        12
      </div>
    </div>
  </div>
  <div class="tile color6-bg">
    <div class="tile-body">
      <i class="fa fa-bar-chart-o"></i>
    </div>
    <div class="tile-object">
      <div class="name">
        报表统计
      </div>
      <div class="number">
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br>
