<h1 class="title">首页</h1>
<ol class="breadcrumb">
    <li class="active">导航页面</li>
</ol>

<!-- Start Page Header Right Div -->
<div class="right">
  <div class="btn-group" role="group" aria-label="...">
    <a href="index.html" class="btn btn-light">Dashboard</a>
    <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
    <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
    <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
  </div>
</div>
<!-- End Page Header Right Div -->
