<ul class="sidebar-panel nav">
<li class="sidetitle">MAIN</li>
<li>
  <a href="index.html">
    <span class="icon color5">
      <i class="fa fa-home"></i>
    </span>
    Dashboard
  </a>
</li>
<li class="sidetitle">ENTERPRISE</li>
<li>
  <a href="mailbox.html">
    <span class="icon color6">
      <i class="fa fa-envelope-o"></i>
    </span>
    车企登记
  </a>
</li>
<li>
  <a href="mailbox.html">
    <span class="icon color6">
      <i class="fa fa-envelope-o"></i>
    </span>
    车企资料变更
  </a>
</li>
<li>
  <a href="#">
    <span class="icon color7">
      <i class="fa fa-files-o"></i>
    </span>
    设备维护
    <span class="label label-default">4</span>
    <span class="caret"></span>
  </a>
  <ul>
    <li><a href="icons.html">添加设备</a></li>
    <li><a href="icons.html">修改设备</a></li>
    <li><a href="icons.html">注销设备</a></li>
    <li>
      <a href="others.html">
        批量添加设备
        <span class="label label-danger">NEW</span>
      </a>
      <ul>
        <li><a href="icons.html">添加设备</a></li>
        <li><a href="icons.html">修改设备</a></li>
      </ul>
    </li>
  </ul>
</li>
<li class="sidetitle">PERSON</li>
<li>
  <a href="charts.html">
    <span class="icon color8">
      <i class="fa fa-bar-chart"></i>
    </span>
    实名登记
  </a>
</li>
<li>
  <a href="charts.html">
    <span class="icon color8">
      <i class="fa fa-bar-chart"></i>
    </span>
    个人资料变更
  </a>
</li>
<li class="sidetitle">ACCOUT&PAY</li>
<li>
  <a href="charts.html">
    <span class="icon color8">
      <i class="fa fa-bar-chart"></i>
    </span>
    缴费
  </a>
</li>
<li>
  <a href="charts.html">
    <span class="icon color8">
      <i class="fa fa-bar-chart"></i>
    </span>
    账单查询
  </a>
</li>

<li class="sidetitle">OTHERS</li>
<li>
  <a href="charts.html">
    <span class="icon color8">
      <i class="fa fa-bar-chart"></i>
    </span>
    订单查询
  </a>
</li>
<li>
  <a href="charts.html">
    <span class="icon color8">
      <i class="fa fa-bar-chart"></i>
    </span>
    资料查询
  </a>
</li>

</ul>

<ul class="sidebar-panel nav">
  <li class="sidetitle">System</li>
  <li>
    <a href="charts.html">
      <span class="icon color8">
        <i class="fa fa-bar-chart"></i>
      </span>
      系统消息
      <span class="label label-danger">3</span>
    </a>
  </li>
  <li>
    <a href="charts.html">
      <span class="icon color8">
        <i class="fa fa-bar-chart"></i>
      </span>
      锁屏
    </a>
  </li>
  <li>
    <a href="charts.html">
      <span class="icon color8">
        <i class="fa fa-bar-chart"></i>
      </span>
      密码变更
    </a>
  </li>
  <li>
    <a href="charts.html">
      <span class="icon color8">
        <i class="fa fa-bar-chart"></i>
      </span>
      退出系统
    </a>
  </li>
</ul>
